{% extends "base.html" %}
{% block head %}
<link rel= "stylesheet" type= "text/css" href="{{ url_for('static',filename='styles/attribution.css') }}">
{% endblock %}

<body>

  {% block body %}

    <a href="{{ url_for('index')}}">
      {% include "logo.html" %}
    </a>

    <section class="attribution">
      <div id="attribution-div">
        All resources found on this website are propoerty of their respective creators (UC Berkely, Professors, Students).

        If you are a professor, university or content-creator of something on our website and
        want a resource taken down, please know none of the content is hosted on this website but
        collected from various other sources. Contact us for relevent information.
      </div>
    </section>

    {% include "footer.html" %}
  {% endblock %}

</body>
