<div class="footer">
  <footer>
    <a class="footer-left" href="http://www.berkeley.edu">
      <img alt="Cal Logo" src="{{ url_for('static',filename='images/cal_logo.png') }}" height="60px"></img>
    </a>
    <nav class="footer-nav" align="right">
      <a href="report.html">Report Error</a>
      <span>|</span>
      <a href="{{ url_for('attribution') }}">Attribution</a>
      <span>|</span>
      <a onclick="displayOn('missing')" >Missing Exams?</a>
      <script type="text/javascript">
        function displayOn(id) {
          var elem = document.getElementById(id)
          elem.style.display = 'inherit';

        }
        function displayOff(id) {
          var elem = document.getElementById(id)
          elem.style.display = 'none';

        }
      </script>
    </nav>
  </footer>
</div>
