nav {
  padding-top: 20px;
  padding-right: 1em;
  font-size: 10pt;
}
html {
  /*height: 100%;*/
  /*width: 100%;*/
  margin: 0;
  min-height: 100%;
  min-width: 100%
}
body {
  background-color: rgb(4, 30, 66);
  color: white;
  font-family: 'Open Sans', sans-serif;
  /*width: 100%;*/
  margin: 0;
  /*min-height: 100%;*/
  /*height: 100%;*/
  min-height: 100%;
  min-width: 100%
}

/*section.search {
  position: relative;
}*/

.search {
  text-align: center;
  /*max-width: 90%;*/
}
a, a:visited {
  text-decoration: none;
  color: #8F8F8F;
}
.footer-nav a:hover {
  text-decoration: none;
  color: rgb(4, 30, 66);
}
.footer {
  left: 0;
  bottom: 0;
  padding: 0;
  margin: 0;
  position: relative;
  margin-top: 0em;
  /* negative value of footer height */
  height: 4rem;
  clear: both;
  background-color: #D4D4D4;
  box-shadow: 1px 1px 5px rgb(4, 30, 66) inset;
}
h1 {
  color: white;
  font-family: 'Lato', sans-serif;
  font-size: 3em;
}
h5 {
  color: white;
  font-weight: 200;
}
input {
  width: 40rem;
  height: 3em;
}
span.logo-bold {
  font-weight: 400;
  color: rgb(255, 199, 44);
}
span.logo-narrow {
  font-weight: 100;
}
.footer-left {
  float: left;
  padding-top: 3px;
}
.footer-nav {
  float: right;
}
#search-suggestions:focus, .search input:focus~ #search-suggestions {
  display: inline-block;
  z-index: -1;
}

/*.search-suggestio  ns:focus {
  display: inline-block;
  z-index: -1;
  */


}

/*.search-suggestions > li > a:focus ~ .search-suggestions,*/
#search-suggestions> li> a:hover {
  color: red;
  display: inline-block;
  z-index: -1;
}
#search-suggestions> li:focus~ #search-suggestions {
  color: red;
  display: inline-block;
  z-index: -1;
}
#search-suggestions {
  /*display:grid;*/
  /*position: static;*/
  /*left: 50px;*/
  /*z-index: 10;*/

  display: none;
  margin-top: 0px;
  border-top-width: 0px;
  top: 0;
  width: 40rem;
  padding: 0;
  list-style-type: none;
  margin-left: 50%;
  border-width: 2px;
  border-style: solid;
  border-radius: 1px;
  border-top: none;
  background-color: #FFF;
  -ms-transform: translate(-50%, 0px);
  /* IE 9 */

  -webkit-transform: translate(-50%, 0px);
  /* Safari */

  transform: translate(-50%, 0);
}
#search-suggestions li:hover {
  font-weight: bolder;
}
#search-suggestions a {
  color: rgb(255, 199, 44);
}
#slogan {
  margin-top: 0;
  text-align: center;
}
#logo {
  margin-top: 0;
  margin-bottom: 1.5rem;
}
#logo-container {
  margin: 0;
}
#wrapper {
  /*min-height: 80%;*/

  min-height: -moz-calc(100% - 4rem);
  /* Firefox */

  min-height: -webkit-calc(100% - 4rem);
  /* Chrome, Safari */

  min-height: calc(100% - 4rem);
  /* IE9+ and future browsers */
}
#search-wrapper {
  padding-top: 10rem;
  /*margin-top: 10rem;*/
}
#results {
  color: red;
  text-align: center;
  margin-top: 40%;
  margin-bottom: 15rem;
  margin-left: 10%;
  margin-right: 10%;
  width: 80%;
}
.page-overlay {
  /*background-color: rgba(50, 50, 50, 0.9);*/
  background-color: rgba(15, 30, 66, .9);
  z-index: 10;
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  display: none;/*///////////////////////////////////////////////*/
}
.page-overlay-content> * {
  margin: 3rem 10rem 10rem 10rem;
}
.page-overlay-close-button {
  top: 1rem;
  left: 1rem;
  margin: 1rem;
  color: lightgray;
  border-radius: .7rem;
  width:1.5rem;
  height:1.5rem;
  background-color: black;
}
#missing-content {
  /*display: none;*/

  color: lightgray;
  font-size: 14;
}
#missing-content input {
  color: darkgray;
  text-align: left;
  margin-bottom: 1rem;
  border-radius: 1px;
  background-color: lightgray;
}

#results-table {
  /*text-align: center;
  margin-left: 10%;
  margin-right: 10%;*/
  width: 100%;

}

#scroll-link {
  display: block;
  color: rgb(70, 70, 70);
  font-size: 18pt;
  font-weight: lighter;
  text-align: center;
  width: 2rem;
  height: 2rem;
  border-color: rgb(70, 70, 70);
  border-style: solid;
  border-width: thin;
  border-radius: 1rem;
  background-color: rgba(0, 0, 0, 0);
  margin-left: calc(50% - 1rem);
  margin-top: 80%;
}
#scroll-link:hover {
  color: white;
  border-color: white;
  cursor: pointer;
}



/*

*/
